* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #fff;
    font-family: system-ui;
}

.crud {
    width: 80%;
    margin: auto;
}
.crud .head {
    text-align: center;
    text-transform: capitalize;
    margin: 10px 0;
}
.crud .head h2 {
    font-size: 32px;
}
.crud .head p {
    font-size: 22px;
}




input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}
input:focus {
    background-color: black;
    transform: scale(1.01);
}

.inputs .price input {
    width: 20%;
}
.inputs .price #total {
    background-color: #e32727;
    padding: 5px 5px;
    border-radius: 4px;
}

#total::before {
    content: "total: ";
}

button {
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #640284;
    color: #fff;
    border: 20px;
    transition: 0.4s;
}

button:hover {
    background-color: #76009e;
    letter-spacing: 1px;
}



.btn-search {
    display: flex;
    justify-content: space-between;
}
.btn-search button {
    width: 45%;
}


table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th, td {
    text-transform: uppercase;
    padding: 5px;
}

#deleteAll {
    margin: 20px 0;
}