* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}




.container {
  background-color: #424242;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


.slidebar {
  grid-column: span 2;
  background-color: red;
  height: 100vh;
}


.slideShow {
  grid-column: span 3;
  background-color: blue;
  height: 100vh;
}


.content {
  grid-column: span 7;
}

.aside {
  position: fixed;
  background-color: #a8ecff;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  overflow: scroll;
}

.aside::-webkit-scrollbar {
  display:none;
}




.box {
  font-size: 30px;
  color: white;
  height: 120vh;
}
.box:first-child {
  background-image: url(1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.box:nth-child(2) {
  background-image: url(2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.box:nth-child(3) {
  background-image: url(3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.box:last-child {
  background-image: url(4.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.welcome,
.gallery,
.templete,
.contact {
  height: 120vh;
  display: flex;
  background-color: #ffddff;
  justify-content: center;
  align-items: center;
  color: rgb(62, 58, 58);
  font-size: 35px;
  border-bottom: 10px solid white;
}

.contact {
  border: none;
  background-color: #ffddff;
}