body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #ddd;
    display: grid;
    grid-template-columns: auto and a friend;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(45deg , #59ff00, #00bc3f);

    display: flex;
    flex-direction: column;
    padding: 20px 5px 0 20px;
}

header h2 {
    font-size: 32px;
    color: white;
}

.scrollbox {
    overflow: auto;
    padding-right: 10px;
    visibility: hidden;
}

.inner p {
    font-size: 16px;
    color: #fff;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.footer {
    font-size: 24px;
    color: #fff;
    padding: 15px 0 40px;
}
.inner, .scrollbox:hover {
    visibility: visible;
}











.content {
    position: relative;
    width: calc(100% - 250px);
    height: 100%;
    background-color: blue;
    left: 250px;
}
.content h2 {
    font-size: 40px;
}