.slider {
    position: relative;
    width: 600px;
    height: 300px;
    margin: auto;
    overflow: hidden;
}
.slide {
    width: 600px;
    height: 300px;
    position: absolute;
    transition: 0.6s ease;
    transform: translate(-100%, 0);
}
.slide.active {
    transform: translate(0, 0);
}
.slide.active ~ .slide {
    transform: translate(100%, 0);
}

















* {
    box-sizing: border-box;
}
body {
    text-align: center;
}
.slide {
    text-align: left;
    background: tomato;
    color: white;
    border: 10px solid skyblue;
    padding: 30px;
}
button {
    margin-top: 20px;
    border: none;
    border-radius: 0;
    background: lightgreen;
    color: #333;
    padding: 10px;
    cursor: pointer;
}  