* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: steelblue;
}

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background-color: white;
}

.fill {
    background-image: url("https://source.unsplash.com/random/150*150");
    width: 145px;
    height: 145px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.hold {
    border: 5px solid #ccc;
}

.hovered {
    border: 5px dashed #333;
}